rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/create for all collections for authenticated users
    match /{collection}/{document=**} {
      allow read, create, update, delete: if request.auth != null;
    }
  }
}
